<!DOCTYPE html>
<html>
<head>
	<title>Login Demo</title>
</head>
<body>
	<script language="javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/bootstrap.min.css"/>
	<script src="../jquery/jquery.js"></script>


	<!-- Register form starts -->
		<div class="container"> 
			<form action="/login" method="post">
				<input class="form-control" type="text" placeholder="Your name" name="name">
				<input class="form-control" type="text" placeholder="Your password" name="password">
				<button class="btn btn-primary">Sign Up</button>	
			</form>
		</div>
	<!-- Register form ends -->

</body>
</html>